.supertable>thead>tr>th{
    cursor: pointer!important;
}

.supertable>tfoot>tr>td>a {
    cursor: pointer;
    padding: 0.4em;
    margin-right: 0.1em;
}

.selectedRow {
    background-color: aliceblue!important;
}
.selectedPage{
    text-decoration : underline;
}

.removeCellPadding  {
    padding: 0px!important;
    margin:  0px!important;
    display: table-cell;
    height: 100%;
    min-height: 100%;
 }
 .removeCellPadding div  {
    padding: 0px!important;
    margin:  0px!important;
    height: 100%;
    min-height: 100%;
 }
 