.supertable>thead>tr>th{
    cursor: pointer!important;
}

.supertable>tfoot>tr>td>a {
    cursor: pointer;
    padding: 0.4em;
    margin-right: 0.1em;
}

.selectedRow {
    background-color: aliceblue!important;
}